@charset "utf-8";
/* CSS Document */

.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel .owl-item{float:left}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.grabbing{cursor:url(images/grabbing.png) 8 8,move}
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.owl-theme .owl-controls{ height: 0; }
.owl-theme .owl-controls .owl-buttons div{transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s; position: absolute; top: 50%; z-index: 1; display:inline-block;zoom:1;*display:inline;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:0.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
.owl-item.loading{min-height:150px;background:url(images/AjaxLoader.gif) no-repeat center center}

.pictrue-1 .owl-theme .owl-controls .owl-buttons div{ margin:-40px 0 0; width: 28px; height:59px; overflow: hidden; }
.pictrue-1 .owl-theme .owl-controls .owl-buttons div.owl-prev{ left: -37px; background: url(../../images/icon/p1_jt_l.png) no-repeat left;}
.pictrue-1 .owl-theme .owl-controls .owl-buttons div.owl-next{ right: -37px; background: url(../../images/icon/p1_jt_r.png) no-repeat right;}
.pictrue-3 .owl-theme .owl-controls .owl-buttons div{ margin:-83px 0 0; width: 30px; height:140px; overflow: hidden; }
.pictrue-3 .owl-theme .owl-controls .owl-buttons div.owl-prev{ left: -34px; background: url(../../images/icon/p3_jt_l.jpg) no-repeat; background-size: 100% 100%;}
.pictrue-3 .owl-theme .owl-controls .owl-buttons div.owl-next{ right: -34px; background: url(../../images/icon/p3_jt_r.jpg) no-repeat; background-size: 100% 100%;}
body.hover .pictrue-1 .owl-theme .owl-controls .owl-buttons div.owl-prev:hover{ background-position: right; }
body.hover .pictrue-1 .owl-theme .owl-controls .owl-buttons div.owl-next:hover{ background-position: left; }
body.hover .pictrue-3 .owl-theme .owl-controls .owl-buttons div:hover{filter:Alpha(Opacity=50);opacity:0.5;}

@media (max-width:1299px){
	.pictrue-1 .owl-theme .owl-controls .owl-buttons div{ display: none; }
}

@media (max-width:767px){
	.pictrue-3 .owl-theme .owl-controls .owl-buttons div{ margin:-53px 0 0; width: 24px; height: 80px; }
	.pictrue-3 .owl-theme .owl-controls .owl-buttons div.owl-prev{ left: -28px;}
	.pictrue-3 .owl-theme .owl-controls .owl-buttons div.owl-next{ right: -28px;}
}


